dask==2024.10.0
dask-expr==1.1.16
gdown==5.2.0
humanize==4.11.0
ir_datasets==0.5.8
matplotlib==3.8.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
nltk==3.8.1
torch @ https://download.pytorch.org/whl/cu121_full/torch-2.5.0%2Bcu121-cp310-cp310-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cu121_full/torchaudio-2.5.0%2Bcu121-cp310-cp310-linux_x86_64.whl
torchsummary==1.5.1
torchvision @ https://download.pytorch.org/whl/cu121_full/torchvision-0.20.0%2Bcu121-cp310-cp310-linux_x86_64.whl
tqdm==4.66.6
